<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" type="text/css" href="calendar_css.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div class="title">Set Your Reminders</div>
      <div class="content">
        <form name="calendar_data" method="post" action="/calendar_SET">
          <div class="user-details">
            <div class="input-box">
              <span class="details">Date</span>
              <input name="day" type="text" placeholder="Enter date" required />
            </div>
            <div class="input-box">
              <span class="details">Month</span>
              <!-- <input name="month" type="text" placeholder="Enter month" required> -->
              <select placeholder="Month" name="month">
                <option name="" value="" style="display: none">
                  Enter month
                </option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>
              </select>
            </div>
            <div class="input-box">
              <span class="details">Year</span>
              <input
                name="year"
                type="text"
                placeholder="Enter year"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Time</span>
              <input
                name="time"
                type="text"
                placeholder="Enter Time in format HH:MM:SS"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Description</span>
              <input
                name="description"
                type="text"
                placeholder="Enter your description"
                required
              />
            </div>
          </div>
          <div class="summary-details">
            <span class="gender-title">Summary</span>
            <input type="radio" name="summary" value="Drink Water" id="dot-1" />
            <input type="radio" name="summary" value="Exercise" id="dot-2" />
            <input
              type="radio"
              name="summary"
              value="Take medicines"
              id="dot-3"
            />

            <div class="category">
              <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">Drink Water</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">Exercise</span>
              </label>
              <label for="dot-3">
                <span class="dot three"></span>
                <span class="gender">Take Medicines</span>
              </label>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Set Reminder" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
