@import url('https://fonts.cdnfonts.com/css/prata-2');

h1 {
    justify-content: center;
    text-align: center;
    justify-items: center;
    width:600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    padding: 20px;
    border-radius: 8px;
    color: white;
    font-family: 'Prata', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    
}
body {
    background: linear-gradient(50deg, rgb(9, 41, 29) 5%, rgb(13, 13, 43) 81%, rgb(14, 14, 32)8%);
}
.btn {
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: larger;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 30px;
}
.button {
    
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
  
    
}